<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Интернет-магазин</h5>
                <p>Лучшие товары по доступным ценам</p>
            </div>
            <div class="col-md-3">
                <h5>Меню</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'products:home' %}" class="text-light">Главная</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone"></i> +7 (999) 999-99-99</li>
                    <li><i class="fas fa-envelope"></i> info@shop.ru</li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2024 Интернет-магазин. Все права защищены.</p>
        </div>
    </div>
</footer>